.auth-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
}

.auth-card {
  width: 100%;
  max-width: 420px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 6px;
}

.subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background: #0b5ed7;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn-primary:hover {
  background: #084298;
}

.error-text {
  color: red;
  text-align: center;
  margin-top: 12px;
}
